$yellowColor: #feb934;
$orangeColor: #ea8125;
$darkColor: #202020;
$developerTextColor: #666;
$developerTextHoverColor: #AAA;


body {
	background-color: $darkColor;  
}

#description .text {
	color: $yellowColor;
}

#description .text .highlight {
	color: $orangeColor;	
	border-bottom:2px solid $orangeColor;
}

#typed-cursor{
	display: none;
}

.developer, .developer a {
	color: $developerTextColor;
	text-decoration: none;
}

.developer a:hover {
	color: $developerTextHoverColor;
	text-decoration: none;
}