html { 
	-webkit-font-smoothing: antialiased;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 25px;
}

#description .text {
	font-size: 45px;
}

.developer {
	font-size: 13px;
}

/* iPhone 2G, 3G, 4, 4S, 5, 5s */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
	
	#description .text {
		font-size: 27px;
	}
}